// img {
//   display: block;
//   max-width: 100%;
//   height: auto;
// }
.gallery {
  background-image: $background-gradient-primary;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    background-image: linear-gradient(
      to bottom,
      #fff5f6 53%,
      #ffffff 53%,
      #ffffff 100%
    );
  }
}
// * { box-sizing: border-box; }


/* ---- grid ---- */

.section__gallery {
  @media screen and (min-width: 320px) and (max-width: 1199px) {
    padding-top: 0;
    padding-bottom: 30px;
  }
}

.container__gallery {
  @media screen and (max-width: 1199px) {
    padding: 0;
  }
}
.grid {
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    gap: 2px;
  }

  @media screen and (min-width: 768px) {
    gap: 6px;
  }

  @media screen and (min-width: 1200px) {
    gap: 8px;
  }
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid__item ---- */

.grid__column {
  display: flex;
  flex-direction: column;
  width: 44px;
  float: left;

  @media screen and (min-width: 768px) {
    width: 105px;
  }

  @media screen and (min-width: 1200px) {
    width: 138px;
  }
}

.grid__column--center {
  width: 90px;

  @media screen and (min-width: 768px) {
    width: 215px;
  }

  @media screen and (min-width: 1200px) {
    width: 283px;
  }
}
.grid__item {
  max-width: 100%;
  float: left;
  border-radius: 8px;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    border-radius: 20px;
  }
}
.grid__item + .grid__item {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin-top: 2px;
  }

  @media screen and (min-width: 768px) {
    margin-top: 6px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 8px;
  }
}
.grid__item--reduced {
  max-width: 50%;
}

.grid__column--down {
  padding-top: 4px;

  @media screen and (min-width: 768px) {
    padding-top: 8px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 11px;
  }
}

.grid__column--up {
  padding-bottom: 7px;

  @media screen and (min-width: 768px) {
    padding-bottom: 17px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 25px;
  }
}
