
.section{
    @media screen and (max-width:767px) {
        background-image: linear-gradient(to top, #fff5f6 0%, #fff5f6 12%,  #FFFFFF 27%,  #FFFFFF 100%);
    }
    @media screen and (min-width: 768px) {
        padding-top: 60px;
    }
}


.product__list{
    @media screen and (max-width:767px) {
        display: flex;
    flex-direction: column;
    align-items: center;
    }
    
    @media screen and (min-width:768px) {
        display: flex;
        gap: 16px;
    }
    @media screen and (min-width:1200px) {
        
        gap: 32px;
    }
}
.product__title{
    margin-bottom: 148px;
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 34px;
    line-height: 1.14em;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #D41443;
    @media screen and (min-width:768px) {
        font-size: 48px;
        margin-bottom: 158px;
    }
    @media screen and (min-width:1200px) {
        margin-bottom: 281px;
        font-size: 58px;
        line-height: 1.13em;
    }
}
.product__text{
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.16em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #FFA5BA;
    @media screen and (min-width:768px) {
        font-size: 26px;
        line-height: 1.15;
    }
    @media screen and (min-width:768px) {
        font-size: 30px;
        line-height: 1.13;
    }
}

.product__list-description{  
    width: 280px;
    height: 489px;
    background-color: #FFB8CA;
    border-radius: 24px;
    position: relative;
    @media screen and(min-width:768px) {
        width: 224px;
        height: 473px;
    }
    @media screen and(min-width:1200px) {
        width: 368px;
        height: 535px;
    }
}
@media screen and(max-width:767px) {
    .product__list-description:not(:last-child){
        margin-bottom: 140px;
    }
}


.product__list-description:nth-child(2){
    background-color:  #F0D1A5;
}
.product__list-description:nth-child(3){
    background-color:  #C2E297;
}


.product__list-description .product__list-description-cream{
    position: absolute;
}

.product__list-description::before{
    display: block;
    content: " ";
    height: 280px;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
  }
.product__list-description-cream::before{
    background-image: url(../images/products/ice-cream_sm.png);
        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx){
            background-size: cover;
            
        background-image:  url(../images/products/ice-cream_sm@2x.png);
    }
        @media screen and (min-width:768px)  {
            height: 224px;
            transform: translateY(-62%);
            background-image: url(../images/products/ice-cream_md.png);
            @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx){
                background-size: cover;
                transform: translateY(-62%);
            background-image:url(../images/products/ice-cream_md@2x.png);
        }
        }
    
    @media screen and (min-width:1200px)  {
        height: 394px;
        width: 368px;
        transform: translateY(-66%);
        background-image: url(../images/products/ice-cream_lg.png);
        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx){
        background-image:url(../images/products/ice-cream_lg@2x.png);
    }
    }
}
    
.product__list-description-coffee::before{
    background-image: url(../images/products/coffee_sm.png);
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx){
        background-size: cover;
        
    background-image:  url(../images/products/coffee_sm@2x.png);
}
    @media screen and (min-width:768px)  {
        height: 224px;
        transform: translateY(-62%);
        background-image: url(../images/products/coffee_md.png);
        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx){
            background-size: cover;
            transform: translateY(-62%);
        background-image:url(../images/products/coffee_md@2x.png);
    }
    }

@media screen and (min-width:1200px)  {
    height: 394px;
        width: 368px;
        transform: translateY(-66%);
    background-image: url(../images/products/coffee_lg.png);
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx){
    background-image:url(../images/products/coffee_lg@2x.png);
}
}
}

.product__list-description-milkshakes::before{
    background-image: url(../images/products/milkshakes_sm.png);
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx){
        background-size: cover;
        
    background-image:  url(../images/products/milkshakes_sm@2x.png);
}
    @media screen and (min-width:768px)  {
        height: 224px;
        transform: translateY(-62%);
        background-image: url(../images/products/milkshakes_md.png);
        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx){
            background-size: cover;
            transform: translateY(-62%);
        background-image:url(../images/products/milkshakes_md@2x.png);
    }
    }

@media screen and (min-width:1200px)  {
    height: 394px;
        width: 368px;
        transform: translateY(-66%);
    background-image: url(../images/products/milkshakes_lg.png);
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx){
    background-image:url(../images/products/milkshakes_lg@2x.png);
}
}
}



.product__list-title{
    font-family: 'Titan One';
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15em;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 70px;
    color: #FFFFFF; 
    transform: translateY(-140px);
    
    @media screen and (min-width:1200px) {
        font-family: 'Titan One';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 1.13;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #FFFFFF; 
        transform: translateY(-240px);
    }
}
// .product__list-title::before{
//     content: " ";
//     position: absolute;
//     transform: translate(55px, 55px);
//     width: 6px;
//     height: 6px;
//     border-radius: 50%;
//     background-color: #FFFFFF;
//     box-shadow: -10px 0 0 #FFFFFF, 10px 0 0 #FFFFFF;
//     @media screen and (min-width:768px) {
//         margin-right: 32px;
//         margin-left: 32px;  
//         line-height: 1.76em;
//         transform: translate(21px, 55px);
//     }
//     @media screen and (min-width:1200px) {
//         transform: translate(47px, 68px);
//     }
// }


.product__list-text{
    margin-right: 40px;
    margin-left: 40px;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52em;
    text-align: center;
    letter-spacing: 0.04em;
    transform: translateY(-140px);
    color: #FFFFFF;
        @media screen and (min-width:768px) {
            margin-right: 32px;
            margin-left: 32px;  
            line-height: 1.76em;
        }
        @media screen and (min-width:1200px) {
            font-size: 16px;
            margin-right: 61px;
            margin-left: 62px;
            transform: translateY(-240px);
        }

}
.img-btn{
    background-size: cover;
}
.product__btn{
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(115px, -110px);
    @media screen and (min-width:768px) {
        transform: translate(88px, -110px);
    }
    @media screen and (min-width:1200px) {
        transform: translate(157px, -205px);
    }
}
.product__btn::before{
    content: " ";
    position: absolute;
    transform: translateY(-210px);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #FFFFFF;
    box-shadow: -10px 0 0 #FFFFFF, 10px 0 0 #FFFFFF;
    @media screen and (min-width:768px) {
        margin-right: 32px;
        margin-left: 32px;  
        line-height: 1.76em;
        transform: translateY(-257px);
    }
    @media screen and (min-width:1200px) {
        transform: translateY(-230px);
    }
}