<section class="about" id="about-us">
    <div class="container">
            <span class="section-title__main-text">tradition and love</span>
            <h2 class="section-title__main-title">how it’s made?</h2>
        <div class="info">
            <div class="info__thumb-img">
                <picture>
                    <source srcset="/src/images/about/cow_sm.png 280w, /src/images/about/cow_sm@2x.png 560w" 
                    media="(max-width:767px)" sizes="(max-width:767px) 280px">
                    <source srcset="/src/images/about/cow_md.png 336w, /src/images/about/cow_md@2x.png 672w" 
                    media="(max-width:1199px)" sizes="(max-width:1199px) 336px">
                    <source srcset="/src/images/about/cow_lg.png 501w, /src/images/about/cow_lg@2x.png 1002w" 
                    media="(min-width:1200px)" sizes="(min-width:1200px) 501px">
                    <img src="/src/images/about/cow_sm.png" alt="fresh milk and cow">
                </picture>
            </div>
            <div class="info-text">
                <p class="info-text__first-text">
                    Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget,
                    egestas
                    eros.
                    Maecenas eleifend erat at justo fringilla.
                </p>
                <p class="info-text__second-text">
                    Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet
                    placerat.
                    Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
                </p>
                <p class="info-text__third-text">
                    Aliquam erat volutpat. Aenean accumsan.
                </p>
                <button class="info-text__btn" href="#" type="button">Read more
                    <svg class="info-text__btn-arrow" width="4.43" height="8">
                        <use href="/src/images/sprite.svg#icon-btnarrow"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>