<section class="advantages" id="advantages">
  <div class="container">
    <h2 class="visually-hidden">advatages</h2>
    <ul class="advantages-list">
      <li class="advantages-list__item first-icon">
        <h2 class="advantages-list__title">721</h2>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-list__item second-icon">
        <h2 class="advantages-list__title">16KG</h2>
        <p class="advantages-list__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-list__item third-icon">
        <h2 class="advantages-list__title">84</h2>
        <p class="advantages-list__text last-text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
