<div class="slider container swiper">
  <div class="swiper-wrapper">
 <!-- <h1 class="visually-hidden">slider</h1> -->
 <div class="slider__item swiper-slide">
   <picture>       
     <source
       media="(min-width: 320px)"
       srcset="
         ./images/reviews/avatar-1.jpg 1x,
         ./images/reviews/avatar-1@2x.jpg 2x
       "
       type="image/jpg"
     />
   </picture>   
   <img
     class="slider-image"
     src="./images/reviews/avatar-1.jpg"
     alt="client"
   />

   <div class="slider-text--container">
     <div class="slider--text-box">
       <p class="slider--text">
         Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
         Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
         ipsum primis in nibh vel risus.
       </p>

       <!-- <div class="slider__stripes"></div> -->
     </div>
   </div>
   <div class="slider-point"></div>
   <p class="slider--client--text">Emily, Los Angeles</p>
   <!-- <div class="slider-point-home"></div> -->
 </div>

 <div class="slider__item swiper-slide">
   <picture>
     <source
       media="(min-width: 320px)"
       srcset="
         ./images/reviews/avatar-2.jpg    1x,
         ./images/reviews/avatar-2@2x.jpg 2x
       "
       type="image/jpg"
     />
     </picture>
   <img
     class="slider-image"
     src="./images/reviews/avatar-2.jpg"
     alt="client"
   />
   <div class="slider-text--container">
     <div class="slider--text-box">
       <p class="slider--text">
         Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
         Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
         ipsum primis in nibh vel risus.
       </p>
       <!-- <div class="slider__stripes"></div> -->
     </div>
   </div>
   <div class="slider-point"></div>
   <p class="slider--client--text">Jenifer, New York</p>
   <!-- <div class="slider-point-home"></div> -->
 </div>

 <div class="slider__item swiper-slide">            
<picture>
 <source
   media="(max-width: 320px)"
   srcset="
     ./images/reviews/avatar-3.jpg    1x,
     ./images/reviews/avatar-3@2x.jpg 2x
   "
   type="image/jpg"
 />
</picture>
   <img
     class="slider-image"
     src="./images/reviews/avatar-3.jpg"
     alt="client"
   />

   <div class="slider-text--container">
     <div class="slider--text-box">
       <p class="slider--text">
         Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
         Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
         ipsum primis in nibh vel risus.
       </p>
       <!-- <div class="slider__stripes"></div> -->
     </div>
   </div>
   <div class="slider-point"></div>
   <p class="slider--client--text">Lola, Chicago</p>
   <!-- <div class="slider-point-home"></div> -->
 </div>

<div class="swiper-pagination"></div>
</div>
</div>




